body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #6A9DEE;*/
    background-image: linear-gradient(to bottom right, #6A9DEE, #6B8AEE);
}

label {
    width:110px;
    display:inline-block;
}

#myTab {
    background-color: white;
    text-align: right !important;
}

#scores{
    padding: 1em;
    margin: 1em;
    box-shadow: 0 0.938em 2.188em rgba(50,50,93,.15), 0 0.313em 0.938em rgba(0,0,0,.1);
    border-radius: 8px;
    background-color: #F0F3F7;
}

input {
    align-self: center;
    border-radius: 4px;
    margin:0.25em;
    width:10em;
    
}

button {
    margin-right:1em;
    margin-bottom:1em;
    margin-top:1em;
}

"nav nav-tabs" 